.burger,
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.burger {
  > div:nth-child(1),
  > div:nth-child(3) {
    margin-left: 25px;
  }
  > div:nth-child(2) {
    padding-left: 25px;
  }
}
.scroll {
  max-height: 440px;
  overflow: auto;
  > div:not([data-plug]) {
    position: relative;
    &::before {
      content: url("/dragger.svg");
      position: absolute;
      cursor: pointer;
      fill: #fff;
      right: calc(100% - 5px);
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.total {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 40px;
  p {
    display: flex;
    gap: 0.5rem;
  }
  svg {
    width: 36px;
    height: 36px;
  }
}
