.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  > div {
    cursor: auto;
  }
}

.modal {
  padding: 40px 40px 60px;
  background-color: var(--bg-secondary);
  border-radius: 40px;
}
.center {
  text-align: center;
}
.modal,
.page {
  margin: auto;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div:first-child {
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      cursor: pointer;
    }
  }
  .orderhead {
    justify-content: right;
  }
  .order {
    text-shadow: #4c4cff 1px 0 20px;
  }
  .info {
    display: flex;
    gap: 40px;
    color: var(--text-secondary);
    justify-content: center;
    > div {
      > p:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
