.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 4px;
  .price {
    display: flex;
    gap: 0.5rem;
  }
}
